/*---------------------
  Shop Details
-----------------------*/
.product-details {
    padding-top: 60px;
}

.product__details__pic__item {
    margin-bottom: 20px;

    img {
        max-width: 100%;
        min-width: 100%;
    }
}

.product__details__pic__slider {

    img {
        cursor: pointer;
        padding-right: 10px;


    }

    &.owl-carousel .owl-item img {
        max-width: 100%;
        min-width: 100%;
        // padding-left: 50px;
    }
}

.product__details__text {

    h3 {
        color: $heading-color-2;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .product__details__rating {
        font-size: 14px;
        margin-bottom: 12px;

        i {
            margin-right: -2px;
            color: #EDBB0E;
        }

        .user-revice {
            color: #dd2222;
            // position: relative;
            // margin-top: 50px;
            font-size: 15px;

            margin-left: 4px;
        }
    }

    .product__details__price {
        font-size: 20px;
        color: #313131;
        font-weight: 500;
        margin-bottom: 15px;
        h4 {
            display: inline-block;
            color: $heading-color-2;
            font-weight: 400;
            font-size: 11px;
            color: rgb(253, 54, 54);
        }

        .review {
        display: inline-block;
        color: rgb(197, 194, 194);
        font-weight: 400;
        font-size: 14px;
        text-decoration: line-through;
        margin-left: 10px;

      }
    }



    p {
        margin-bottom: 45px;
    }

    .primary-btn {
        padding: 16px 28px 14px;
        margin-right: 6px;
        margin-bottom: 5px;
    }

    .heartload{
        display: inline-block;
        font-size: 16px;
        color: $para-color;
        padding: 13px 16px 13px;
        background: $background;
          span{
                /*affect*/
                .lds-heart-contianer{
                    position: absolute;
                    margin-top: -44px;
                     margin-left: 11px;
                }

                .lds-heart {
                  display: inline-block;
                  position: relative;
                  width: 16px;
                  height:16px;
                  transform: rotate(45deg);
                  transform-origin: 5px 5px;
                }
                .lds-heart div {
                  top: 16px;
                  left: 16px;
                  position: absolute;
                  width: 16px;
                  height: 16px;
                  background: rgb(243, 71, 71);
                  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
                }
                .lds-heart div:after,
                .lds-heart div:before {
                  content: " ";
                  position: absolute;
                  display: block;
                  width: 16px;
                  height: 16px;
                  background: rgb(243, 71, 71);
                }
                .lds-heart div:before {
                  left: -12px;
                  border-radius: 50% 0 0 50%;
                }
                .lds-heart div:after {
                  top: -12px;
                  border-radius: 50% 50% 0 0;
                }
                @keyframes lds-heart {
                  0% {
                    transform: scale(0.95);
                  }
                  5% {
                    transform: scale(1.1);
                  }
                  39% {
                    transform: scale(0.85);
                  }
                  45% {
                    transform: scale(1);
                  }
                  60% {
                    transform: scale(0.95);
                  }
                  100% {
                    transform: scale(0.9);
                  }
                }
                /*affect*/
            .heart {
                background-color: rgb(165, 163, 163);
                display: inline-block;
                height: 15px;
                margin: 0 10px;
                position: relative;
                top: 0;
                transform: rotate(-45deg);
                transform-origin: 11px 11px;
                width: 15px;

              }

              .heart:before,
              .heart:after {
                content: "";
                background-color: rgb(165, 163, 163);
                border-radius: 43%;
                height: 15px;
                position: absolute;

                width: 15px;

              }

              .heart:before {
                top: -10px;
                left: 0;
              }

              .heart:after {
                left: 10px;
                top: 0;
              }

              .heartset {
                background-color: rgb(243, 71, 71);
                display: inline-block;
                height: 15px;
                margin: 0 10px;
                position: relative;
                top: 0;
                transform: rotate(-45deg);
                transform-origin: 11px 11px;
                width: 15px;

              }

              .heartset:before,
              .heartset:after {
                content: "";
                background-color:rgb(243, 71, 71);
                border-radius: 43%;
                height: 15px;
                position: absolute;

                width: 15px;

              }

              .heartset:before {
                top: -10px;
                left: 0;
              }

              .heartset:after {
                left: 10px;
                top: 0;
              }

            }


    }

    ul {
        border-top: 1px solid $border;
        padding-top: 40px;
        margin-top: 50px;

        li {
            font-size: 16px;
            color: $normal-color;
            list-style: none;
            line-height: 36px;

            b {
                font-weight: 700;
                width: 170px;
                display: inline-block;
            }

            span {

                samp {
                    color: #dd2222;
                }
            }

            .share {
                display: inline-block;

                a {
                    display: inline-block;
                    font-size: 15px;
                    color: $normal-color;
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.product__details__quantity {
    display: inline-block;
    margin-right: 6px;
}

.pro-qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: $background;
    margin-bottom: 5px;

    input {
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: $para-color;
        width: 50px;
        border: none;
        background: $background-3;
        text-align: center;
    }

    .qtybtn {
        width: 30px;
        font-size: 23px;
        color: $para-color;
        cursor: pointer;
        display: inline-block;

        span {
            font-size: 14px;
            cursor: pointer;
        }
    }

    // .lds-ring{
    //     // position: absolute;
    //     // right: 20%;
    //     margin-left: -20px;
    //     margin-bottom: 13px;
    // }

}

.product__details__tab {
    padding-top: 85px;

    .nav-tabs {
        border-bottom: none;
        justify-content: center;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 12px;
            height: 1px;
            width: 370px;
            background: $border;
            content: '';
        }

        &:after {
            position: absolute;
            right: 0;
            top: 12px;
            height: 1px;
            width: 370px;
            background: $border;
            content: '';
        }

        li {
            margin-bottom: 0;
            margin-right: 65px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 16px;
                color: #999999;
                font-weight: 700;
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0;
            }
        }
    }

    .product__details__tab__desc {
        padding-top: 44px;

        h6 {
            font-weight: 700;
            color: #333333;
            margin-bottom: 26px;
        }

        p {
            color: #666666;
        }
    }
    .fa{
        /* font-size:25px; */
    }
    .left-bar{
        float: left;
        width:5%;
        margin-top: 10px;
    }
    .right-bar{
        margin-top: 10px;
        float: left;
        width: 95%;
    }
    .row-bar:after{
        content:"";
        display: table;
        clear: both;
    }
    .review-rating:after{
        content: "";
        display: table;
        clear: both;
    }
    .left-review{
        float: left;
        width: 30%;
        margin-top: 10px;
        text-align: center;
    }
    .rigth-review{
        float: left;
        width: 70%;
        margin-top: 10px;
    }
    .review-title{
        font-size: 56pt;
    }
    .review-star{
        margin: 0 0 10px 0;
    }
    .review-people .fa{
        font-size: 11pt;
    }
    .bar-container{
        width: 100%;
        background-color:rgb(235, 230, 230);
        text-align: center;
        color: white;
    }
    .bar-5{height:18px; background-color: #57bb8a;}
    .bar-4{height:18px; background-color: #9ace6a;}
    .bar-3{height:18px; background-color: #ffcf02;}
    .bar-2{height:18px; background-color: #ff9f02;}
    .bar-1{height:18px; background-color: #ff6f31;}
    .star-rating{
        text-align: center;
    }
    .star-rating .fa:hover{
        color:orange;
    }
    .heading{
        font-size: 25px;
        color: #999;
        border-bottom: 2px solid #eee;
    }
    @media (max-width: 400px){
        .left-bar, .right-bar, .left-review, .left-review{
            width: 100%;
        }
    }
    .custom-text{
        font-weight: bold;
        font-size: 1.9em;
        border: 1px solid #cfcfcf;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        color: #999;
        background: #fff;
    }

}

/*---------------------
  Shop Details
-----------------------*/
.related-product {
    padding-bottom: 30px;
}

.related__product__title {
    margin-bottom: 70px;
}
